<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PPL Adventure</title>
  <meta name="description" content="Case study page of PPL Adventure" />
  <link rel="icon" href="../assets/icons/page-icon.png" type="image/icon type">

  <link rel="stylesheet" href="../css/style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
    rel="stylesheet" />
</head>

<body class="body-scroll">
  <header class="header">
    <div class="header__content">
      <div class="header__logo-container">
        <div class="header__logo-img-cont">
          <img src="../assets/png/perfil.png" alt="Logo Image" class="header__logo-img" />
        </div>
        <span class="header__logo-sub">Jonathan García</span>
      </div>
      <div class="header__main">
        <ul class="header__links">
          <li class="header__link-wrapper">
            <a href="../index.html" class="header__link"> API-Docs </a>
          </li>
          <li class="header__link-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </li>
        </ul>
        <div class="header__main-ham-menu-cont">
          <img src="ppl-adventure.html./assets/svg/ham-menu.svg" alt="hamburger menu" class="header__main-ham-menu" />
          <img src="ppl-adventure.html./assets/svg/ham-menu-close.svg" alt="hamburger menu close"
            class="header__main-ham-menu-close d-none" />
        </div>
      </div>
    </div>
    <div class="header__sm-menu">
      <div class="header__sm-menu-content">
        <ul class="header__sm-menu-links">
          <li class="header__sm-menu-link">
            <a href="ppl-adventure.html./index.html"> API-Docs </a>
          </li>

          <li class="">
            <div class="header__sm-menu-toggle">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">PPL Adventure</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary">
          PPL Adventure is a game made with Unity set in the ESPOL campus
          as part of the Taws club's new member admission project. In this
          project I acted as a mentor of the team where I guided the approach of the project.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://elpitagoras.itch.io/ppl-adventure" class="btn btn--bg" target="_blank">Live Link</a>
      </div>
    </div>
  </section>
  <section class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont">
          <img src="../assets/projects-imgs/unity.jpg" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h3 class="project-details__content-title">Project Overview</h3>
            <p class="project-details__desc-para">
              PPL Adventure has 3 games inside:
            </p>
            <ul class="project-details__desc-para">
              <li>Arkanoid game.</li>
              <li>Pong game.</li>
              <li>Bicycle game.</li>
            </ul>
            <p class="project-details__desc-para">
              Read the Game Design Document at <a
                href="https://pitagoras.notion.site/Videojuego-en-Unity-b7e32dd5b83f4e34993fce6c4bf59547"
                target="_blank">Notion</a>.
            </p>
          </div>
          <div class="project-details__tools-used">
            <h3 class="project-details__content-title">Tools Used</h3>
            <div class="skills">
              <div class="skills__skill">Unity</div>
              <div class="skills__skill">Game Design</div>
              <div class="skills__skill">2D Design</div>
              <div class="skills__skill">C#</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Itch Io</div>
              <div class="skills__skill">Photoshop</div>
            </div>
          </div>
          <div class="project-details__links">
            <h3 class="project-details__content-title">See</h3>
            <a href="https://github.com/Taws-Espol/PreTawsG5-Unity"
              class="btn btn--med btn--theme-inv project-details__links-btn" target="_blank">Code Link</a>
            <a href="https://elpitagoras.itch.io/ppl-adventure"
              class="btn btn--med btn--theme project-details__links-btn" target="_blank">Live Link</a>
          </div>
          <h3 class="project-details__content-title">Gallery</h3>
        </div>
      </div>
      <div class="project-details__gallery">
        <div class="gallery">
          <img class="gallery__photo" src="../assets/projects-imgs/ppl-1.jpg" alt="ER Schema" loading="lazy">
          <img class="gallery__photo" src="../assets/projects-imgs/ppl-2.jpg" alt="ER Schema" loading="lazy">
          <img class="gallery__photo" src="../assets/projects-imgs/ppl-3.jpg" alt="ER Schema" loading="lazy">
          <img class="gallery__photo" src="../assets/projects-imgs/ppl-4.jpg" alt="ER Schema" loading="lazy">
          <img class="gallery__photo" src="../assets/projects-imgs/ppl-5.jpg" alt="ER Schema" loading="lazy">
        </div>
      </div>
    </div>
  </section>
  <footer class="main-footer">
    <div class="main-container">
      <div class="main-footer__upper">
        <div class="main-footer__row main-footer__row-1">
          <h2 class="heading heading-sm main-footer__heading-sm">
            <span>Social</span>
          </h2>
          <div class="main-footer__social-cont">
            <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/jonathan-garcia-elpi/">
              <img class="main-footer__icon" src="../assets/png/linkedin-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://github.com/ElPitagoras14">
              <img class="main-footer__icon" src="../assets/png/github-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://twitter.com/ElPitagoras14">
              <img class="main-footer__icon" src="../assets/png/twitter-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://leetcode.com/ElPitagoras14/">
              <img class="main-footer__icon" src="../assets/png/leetcode-ico.png" alt="icon" />
            </a>
            <a target="_blank" rel="noreferrer" href="https://www.instagram.com/_afjhony/">
              <img class="main-footer__icon main-footer__icon--mr-none" src="../assets/png/insta-ico.png" alt="icon" />
            </a>
          </div>
        </div>
        <div class="main-footer__row main-footer__row-2">
          <h4 class="heading heading-sm text-lt">Jonathan García</h4>
          <p class="main-footer__short-desc">
            Computer Science Student | Backend web developer | Algorithm design enjoyer | Videogames enjoyer
          </p>
        </div>
      </div>

      <div class="main-footer__lower">
        &copy; Copyright 2021. Made by
        <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com">Ram Maheshwari</a>
      </div>
    </div>
  </footer>
  <script src="../js/index.js"></script>
</body>

</html>